* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
    font-family: "Inter", sans-serif;
}

.header {
    width: 100%;
    background-color: rgb(28, 5, 34);
}

.header .header1 {
    width: 85%;
    margin: auto;
    color: white;
    padding: 12px 0px;
    font-size: 12px;
    display: flex;
    justify-content: end;
}

.header1 span {
    margin-left: 24px;
}

/* Navigasi bar */
.nav {
    width: 100%;
    height: auto;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 1);
    font-size: 12px;
    z-index: 2;
}

.logo {
    padding-left: 100px;
}

.logo img {
    width: 150px;
    margin: -12px;
}

.nav ul {
    float: right;
    margin-right: 80px;
}

.nav ul li {
    display: inline-block;
    line-height: 52px;
}

.nav ul li a {
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 24px;
    color: rgba(0, 0, 0, 1);
    transition: all 0.5s;
}

.nav a.active,
.nav a:hover {
    color: white;
    background: rgba(182, 95, 207, 1);
}

.logo a:hover {
    color: none;
    background: none;
}

.checkbtn {
    font-size: 30px;
    color: rgba(0, 0, 0, 1);
    float: right;
    line-height: 34px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* Page content */
.content {
    padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
}

@media (max-width: 1150px) {
    .logo {
        font-size: 30px;
        padding-left: 30px;
        padding-right: 0px;
    }

    .checkbtn {
        display: block;
        font-size: 24px;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 60px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
        background-color: rgba(0, 0, 0, 0.1);
    }

    .nav ul li {
        width: 100%;
        display: block;
    }

    .nav ul li a {
        font-size: 16px;
    }

    .nav a.active,
    .nav a:hover {
        background: rgba(0, 0, 0, 0);
        color: rgba(0, 0, 0, 1);
        font-weight: bold;
        border-bottom: 2px solid rgba(0, 0, 0, 1);
        border-radius: 0px;
    }

    .logo a:hover {
        color: none;
        background: none;
    }

    #check:checked ~ ul {
        left: 0;
    }
}

* {
    box-sizing: border-box;
}

/* Slideshow container */
.slideshow-containerhome {
    max-width: auto;
    margin: auto;
}

/* Hide the images by default */
.slideshow-containerhome .mySlides {
    display: none;
}

/* Next & previous buttons */
.slideshow-containerhome .prev,
.slideshow-containerhome .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.slideshow-containerhome .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.slideshow-containerhome .prev:hover,
.slideshow-containerhome .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.slideshow-containerhome .dot {
    position: relative;
    bottom: 36px;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    z-index: 1;
}

.slideshow-containerhome .active,
.slideshow-containerhome .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.slideshow-containerhome .fade {
    animation-name: fade;
    animation-duration: 3s;
}

@keyframes fade {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 900px) {
    .slideshow-containerhome .prev,
    .slideshow-containerhome .next {
        margin-top: -84px;
    }

    .dot {
        width: 8px;
        height: 8px;
    }
}

/* Konten */
main {
    width: 85%;
    margin: auto;
}

article {
    width: 70%;
    height: auto;
    float: left;
}

/* Tentang Kami */
.tentang {
    width: 98%;
    padding-top: 64px;
    height: auto;
}

.tentang h2 {
    margin-bottom: 12px;
}

.tentang p {
    text-align: justify;
    font-size: 14px;
}
/* Jumlah */

.jumlah {
    width: 98%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.jumlah div {
    width: 100%;
    height: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 42px;
    padding-bottom: 42px;
}

.jumlah div i {
    font-size: 48px;
    margin: 12px;
}

.jumlah div h4 {
    font-size: 24px;
    margin: 0px 0px 0px 0px;
}

.jumlah div p {
    font-size: 16px;
    margin: 0px 0px 12px 0px;
}

.galeri {
    width: 98%;
    height: auto;
    text-align: center;
    padding-top: 24px;
    margin-top: 24px;
}

.gallery-image {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-image img {
    height: 250px;
    width: 350px;
    transform: scale(1);
    transition: transform 0.4s ease;
}

.img-box {
    box-sizing: content-box;
    margin: 10px;
    height: 150px;
    width: 200px;
    overflow: hidden;
    display: inline-block;
    color: white;
    position: relative;
    background-color: white;
}

/* Visi Misi */
.vimi {
    width: 85%;
    height: auto;
    background-color: rgba(182, 95, 207, 1);
    background-size: cover;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 5rem;
    text-align: center;
    border-radius: 12px;
    color: rgba(255, 255, 255, 1);
}

.vimi .visi {
    padding-bottom: 2rem;
    font-weight: 300;
}

.vimi .misi ol li {
    list-style-type: decimal;
    text-align: left;
    font-weight: 300;
}

aside {
    width: 30%;
    float: left;
}

/* Berite */
.berita {
    width: 100%;
    margin: auto;
    margin-bottom: 1rem;
}

.berita-content {
    width: 90%;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.berita-content h4 {
    margin-bottom: 12px;
}

.berita-content .card {
    height: 120px;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
    background-color: #fff;
}

.berita-content .card img {
    display: block;
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.berita-content .card p {
    font-size: 12px;
    margin: 12px;
}

.berita-content .card h4 {
    font-size: 12px;
    margin: 12px;
}

.berita-content .card a {
    font-size: 12px;
    margin: 12px;
}

.berita-content a {
    font-size: 12px;
}

.shadow {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.curve {
    border-radius: 0.35rem;
}

/* Kalender Akademik */
.kalender {
    width: 100%;
    margin: auto;
}

.kalender-content {
    width: 90%;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.kalender-content h4 {
    margin-bottom: 12px;
}

.kalender-content .card {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
}

.card .tanggal {
    color: white;
    background: rgba(182, 95, 207, 1);
    padding: 12px 12px;
    border-radius: 24px;
    font-size: 12px;
    margin: 12px;
}

.card p {
    font-size: 12px;
    margin: 2px;
}

.kalender-content a {
    font-size: 12px;
}

/* Kontak */
.kontak {
    width: 100%;
    margin-top: 24px;
    padding: 24px;
}
.kontak h2 {
    text-align: center;
}
input[type="text"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type="submit"] {
    background-color: rgba(182, 95, 207, 1);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type="submit"]:hover {
    background-color: rgba(126, 39, 150, 1);
}

.form {
    float: left;
    width: 50%;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25,
    .col-75,
    input[type="submit"] {
        width: 100%;
        margin-top: 0;
    }
}

.kontak1 {
    width: 50%;
    height: 405px;
    float: left;
}

.kontak1 iframe {
    width: 100%;
    height: 325px;
    margin-top: 24px;
}

.kontak11 {
    display: flex;
    justify-content: center;
}

.kontak11 a {
    margin: 12px;
    font-size: 16px;
}

@media (max-width: 1150px) {
    .form {
        width: 100%;
    }

    .kontak1 {
        width: 100%;
    }

    .kontak11 a {
        margin: 12px;
        font-size: 10px;
    }
}

/* Sejarah */
.sejarah {
    margin-top: 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sejarah img {
    width: 80%;
    height: 500px;
    margin-bottom: 24px;
}

.sejarah p {
    margin-top: 24px;
    font-size: 14px;
    text-align: justify;
}

/* Biografi */
.biografi {
    margin-top: 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.biografi img {
    width: 80%;
    height: 300px;
    margin-bottom: 24px;
}

.biografi p {
    margin-top: 24px;
    font-size: 14px;
    text-align: justify;
}

.biografi-article {
    padding: 24px;
}

.biografi-article h2 {
    text-align: center;
}

/* footer */

.footer1 {
    width: 100%;
    float: left;
    margin-top: 24px;
    background-color: rgb(28, 5, 34);
}

.footer-content {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.footer-content2 {
    display: flex;
    flex-direction: column;
}

.footer-content2 a {
    color: white;
}

@media (max-width: 1150px) {
    .header {
        display: none;
    }
    article {
        width: 100%;
    }

    aside {
        width: 100%;
    }

    .jumlah {
        width: 100%;
    }

    .jumlah div i {
        font-size: 32px;
        margin: 12px;
    }

    .tentang {
        width: 100%;
    }

    .galeri {
        width: 100%;
        margin-bottom: 24px;
    }

    .gallery-image img {
        width: 250px;
        height: 150px;
    }

    .img-box {
        width: 250px;
    }

    .header .header1 {
        width: 93%;
    }

    .footer-content {
        font-size: 12px;
    }

    .berita {
        margin-bottom: 24px;
    }
}

@media (max-width: 700px) {
    .galeri {
        width: 100%;
        margin-bottom: 24px;
    }

    .gallery-image img {
        width: 145px;
        height: 100px;
    }

    .img-box {
        width: 145px;
        height: 100px;
    }

    .tentang iframe {
        height: 200px;
    }

    .tentang p {
        text-align: justify;
        font-size: 12px;
    }

    .jumlah div i {
        font-size: 24px;
    }

    .jumlah div h4 {
        font-size: 12px;
        text-align: center;
    }

    .jumlah div p {
        font-size: 12px;
        text-align: center;
    }

    .vimi .misi ol li {
        list-style-type: decimal;
        text-align: left;
        font-size: 12px;
        font-weight: 300;
    }

    .vimi .visi {
        text-align: center;
        font-size: 12px;
        font-weight: 300;
    }

    .biografi img {
        padding-top: 32px;
        height: 120px;
    }

    .sejarah img {
        padding-top: 42px;
        height: 250px;
    }
}
